@media screen and (min-width: 319px) and (max-width: 492px) {
    .head-nav{
        justify-content:space-around ;
    }
    
    
    .head > .head-nav > h1{
        margin-top: 60px;
    }


    .st-h1{
        margin-left: 0;
    }


    .icon{
        max-width: fit-content;
        margin-right: 0px;
        margin-left: 0;
    }

    .icon-img{
        /* max-width: fit-content; */
        margin-left: 100px;
    }
    
    
    
    .head-img-btn1{
        width: 100px;
        height: auto;
        left: 215px;
    }


    .head-img-btn-div{
        width: 320px;
    }


}



@media screen and (max-width: 340px) {




    .icon-img{
        margin-top: 0px;
        margin-left: 30px;
    }

}